.table--container {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table--row__body,
.table--row__header {
  border-bottom: 1px solid #ccc;
}

.table--row__header th {
  padding: 15px 0px;
}

.table--row__body td {
  padding: 10px 0px;
}

.table--row__body.isSelected {
  background: #eee;
}

.table--row__body:hover {
  background: #f5f5f5;
}

.table--header {
  width: 100%;
  text-align: left;
  padding: 20px 10px 10px 10px;
}

.table--header input {
  width: auto;
}

.table--header span {
  padding-left: 5%;
}

.table--header button {
  padding-left: 5%;
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.table--row__body--available svg {
  width: 25px;
  vertical-align: middle;
  margin-left: -35px;
  padding-right: 10px;
}

.table--header__button svg {
  margin: 0px 10px;
  vertical-align: middle;
}